
.box{
	display: flex;
	position: relative;
	left: 100px;

}

h2{
	color:darkred;
	position: relative;
	left: 210px;
}



button{
	border: none;
	outline: none;
	padding: 16px 50px;
	background-color:blue ;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
}


ul li{
	list-style: none;
	position: relative;
	left:1px;
	font-size: 17px;
	
	padding: 12px 8px 12px 50px;
	user-select: none;
	cursor:pointer;

}


img{
	float:left;

}


ul li.checkMark{
	color: black;
	text-decoration: line-through;
}

ul li.checkMark{
	color: black;
	text-decoration: line-through;
	background-image: url(images/checked.png) no-repeat;
	


}



