
.box{
	display: flex;
}

h2{
	color:darkred;
}

input-box{
	width:200px;
	height:150px;
	overflow: hidden;
	border-radius:0.5em;
}

ul li crossOut{
	right: auto;
	top: 5px;
	width: 50px;
	height: 40px;
	font-size: 22px;
	color: black;
	text-align: center;
	border-radius: 50%;
}



button{
	border: none;
	outline: none;
	padding: 16px 50px;
	background-color:blue ;
	font-size: 16px;
	cursor: pointer;
	border-radius: 40px;
}

ul li crossOut:hover{
	background-color: coral;

}